.button {
  display: inline-block;

  box-sizing: border-box;
  padding: 10px;

  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  transition: all 0.2;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}
.primary:hover {
  background-color: var(--primary-hover);
}

.ghost {
  color: var(--black);
  background-color: none;

  border: 1px solid var(--green-light);
}
.ghost:hover {
  color: var(--white);
  background-color: var(--primary);

  border: 1px solid var(--green-light);
}

.arrow {
  display: inline-block;

  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: all 0.2;
}
