.search {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
}

.button {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: none;
}
