.product {
  display: grid;
  grid-template-columns: [start] 70px [logoEnd] 30px [titleStart] calc(50% - 100px) [middle] 1fr [priceStart] auto [priceEnd] 40px [creditStart] auto [creditEnd] 40px [rateStart] auto [end];

  margin-bottom: 30px;
  padding: 30px;
}

.logo {
  grid-column: start / logoEnd;
  grid-row: 1 / span 2;
}

.title,
.tags {
  grid-column: titleStart / middle;
}

.price,
.priceTitle {
  grid-column: priceStart / priceEnd;
}
.credit,
.creditTitle {
  grid-column: creditStart / creditEnd;
}
.rating,
.rateTitle {
  grid-column: rateStart / end;
}

.hr,
.description,
.actions {
  grid-column: start / end;
}

.feature {
  grid-column: start / middle;
}

.advBlock {
  grid-column: middle / end;
}

.advantages {
}

.disadvantages {
}
