.tag {
  display: inline-block;

  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
}

.s {
  padding: 5px 10px;

  font-size: 12px;
  line-height: 12px;
}

.m {
  padding: 5px 10px;

  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--grey-light);
}

.red {
  color: var(--white);
  background: #de0000;

  font-weight: 700;
}

.grey {
  color: var(--white);
  background: #8a99b7;

  font-weight: 700;
}

.green {
  color: var(--green);
  background: var(--green-light);

  font-weight: 700;
}

.primary {
  color: var(--primary);
  background: none;
  border: 1px solid var(--primary);
}
