* {
	box-sizing: border-box;
}

html,
body {
	font-family: "Noto Sans KR", sans-serif;
	color: var(--black);
	background: #F5F6F8;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--black: #3B434E;
	--gray: #A4A4A4;
	--gray-light: #EBEBEB;
	--gray-dark: #6C7077;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #452CAA;
	--red: #FC836D;
	--red-light: #FFA595;
	--green: #007B48;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans KR", sans-serif;
}

/* ---------------------------------------- */

.text {
	margin: 0;
	display: block;
}

.text--size-s {
	font-size: 14px;
	line-height: 24px;
}

.text--size-m {
	font-size: 16px;
	line-height: 24px;
}

.text--size-l {
	font-size: 18px;
	line-height: 29px;
}

/* ---------------------------------------- */

.h1 {
	font-weight: 500;
	font-size: 26px;
	line-height: 35px;
	margin: 0;
}

.h2 {
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
	margin-top: 50px;
	margin-bottom: 25px;
}

.h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	margin: 0;
}

/* ---------------------------------------- */
textarea {
	padding: 7px 15px;
	color: var(--black);
	border: none;
	outline-color: var(--primary);
	background: var(--white);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
	border-radius: 5px;
	font-family: var(--font-family);
	font-size: 16px;
	line-height: 22px;
}
